@import "variables";

body {
    margin:0;
    border-top: 4px solid $brand-color;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.jumbo {
    text-align: center;
    padding: 40px 0px 30px 0px;
    border-bottom: 1px solid $grey-color-light;
}

.jumbo a {
    text-decoration: none;
    font-weight: normal;
}

.tagline {
    font-size: 1.5em;
    font-weight: 400;
    color: $grey-color;
    opacity: 0.7;
    margin-top: 0;
     @media screen and (max-width: $on-palm) {
         font-size: 1.25em;
    }
}

.icon {
  height: 0.75em;
  width: 0.75em;
  fill: white;
}

.embed-container {
    background-image: url("/images/youtube-poster-laser.jpg");
    background-size: cover;
}

iframe {
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
}