@import "variables";

body {
    margin:0;

}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.jumbo {
    text-align: center;
    padding: 20px 0px 60px 0px;
    border-bottom: 1px solid $grey-color-light;
}

nav {
    background: #F5F5F5;
    border-bottom: 4px solid $brand-color;
    min-height: 50px;
}

nav a {
	position: absolute;
	left: 50%;
	margin-top: 10px;
	-webkit-tap-highlight-color: transparent;
}

nav a img {
	margin-left: -50%;
}