// Our variables
$base-font-family: sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #555;
$background-color: #fdfdfd;
$brand-color:      {{site.brand-color}};
$h-color:          {{site.brand-second-color}};
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

body {
    margin:0;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.jumbo {
    text-align: center;
    padding: 20px 0px 60px 0px;
    border-bottom: 1px solid $grey-color-light;
}

.jumbo a {
    text-decoration: none;
    font-weight: normal;
}

.main-title {
    font-size: 3em;
    font-weight: 800;
    line-height: 0;
    color: #111;
    margin-top: 0.67em;
     @media screen and (max-width: $on-palm) {
         font-size: 2em;
    }
}

nav {
    background: #F5F5F5;
    border-bottom: 4px solid $brand-color;
    min-height: 50px;
}

nav a {
	position: absolute;
	left: 50%;
	margin-top: 10px;
}

nav a img {
	margin-left: -50%;
}