@import "variables";

body {
    margin:0;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.jumbo {
    text-align: center;
    padding: 20px 0px 60px 0px;
    border-bottom: 1px solid $grey-color-light;
}

nav {
    background: #F5F5F5;
    border-bottom: 4px solid $brand-color;
    min-height: 50px;
}

nav a {
	position: absolute;
	left: 50%;
	margin-top: 10px;
	-webkit-tap-highlight-color: transparent;
}

nav a img {
	margin-left: -50%;
}

.pagination {
    margin: 2em 0;
    text-align: center
}
.pagination a:hover {
    background-color: #f1f1f1;
    color: #333
}
.pagination a,
.pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none
}