---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="site-header">
      <div class="wrapper jumbo">
         <a href="{{site.baseurl}}/"><img class="avatar" src="{{site.baseurl}}/images/{{site.picture}}" alt="avatar"></a>
       <h1 class="main-title">I'm Steve Mould</h1>
        <h2 class="tagline">{{site.tagline}}</h2>
    <a class="jumbo-button" href="{{site.baseurl}}/contact/">
    <svg class="icon" viewBox="0 0 1000 1000" aria-hidden="true">
        <path d="M974.7,16c12,8.7,17,20.4,14.8,35l-140,840c-1.8,10.6-7.7,18.8-17.5,24.6c-5.1,2.9-10.8,4.4-17,4.4c-4,0-8.4-0.9-13.1-2.7L554.2,816.1L421.8,977.4c-6.6,8.4-15.5,12.6-26.8,12.6c-4.7,0-8.7-0.7-12-2.2c-6.9-2.6-12.5-6.8-16.7-12.9c-4.2-6-6.3-12.7-6.3-20V764.1L832.5,185L247.9,690.9l-216-88.6c-13.5-5.1-20.8-15.1-21.9-30.1c-0.7-14.6,5.1-25.3,17.5-32.3l910-525C943,11.6,948.8,10,955,10C962.3,10,968.9,12,974.7,16L974.7,16z"/>
      </svg>
       &nbsp;Contact me</a>
    </div>
    </header>

    <div class="page-content">
      <div class="wrapper">
        <article class="post">

          <div class="post-content">
            {{ content }}
          </div>

        </article>
      </div>
    </div>

    {% include footer.html %}

    <script>

    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {
        xhr.open(method, url, true);
      } else if (typeof XDomainRequest != "undefined") {
        xhr = new XDomainRequest();
        xhr.open(method, url);
      } else {
        xhr = null;
      }
      return xhr;
    }

    function addCommas(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function makeCorsRequest() {
      var url = 'https://www.googleapis.com/youtube/v3/channels?part=statistics&id=UCEIwxahdLz7bap-VDs9h35A&key=AIzaSyAuhQg04Ez9biRoVGEUZ9MCwgpF0dmy4xM';

      var xhr = createCORSRequest('GET', url);
      if (!xhr) {
        alert('CORS not supported');
        return;
      }

      xhr.onload = function() {
        var response = xhr.responseText;
        var data = JSON.parse(response);
        var statistics = data.items[0].statistics;
        document.getElementById("subs").innerHTML=addCommas(statistics.subscriberCount);
        document.getElementById("views").innerHTML=addCommas(statistics.viewCount);
      };

      xhr.onerror = function() {
        console.log('youtube stats update failed.');
      };

      xhr.send();
    }

    makeCorsRequest();
    </script>

  </body>

</html>



