---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="site-header">
      <div class="wrapper jumbo left">
       <h2 class="tagline"><a href="{{site.baseurl}}/">←</a></h2>
       <h1 class="main-title">{{ page.title }}</h1>
    </div>
    </header>

    <div class="page-content">
      <div class="wrapper">
        <article class="post">

          <div class="post-content">
            {{ content }}
          </div>

        </article>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>




